.btn{ 
    width:100%; 
    border:none; 
    /* background:#fff;  */
    /* color:#fff;  */
    padding:14px 16px; 
    font-weight:600; 
    border-radius:12px; 
    background-color: #FBB337; 
    color:white;
}
.lg{ 
    font-size:18px; 
    padding:16px; 
    height: 56px;
}
.md{ 
    font-size:16px; 
    padding:12px; 
    width: 232px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sm{ 
    font-size:14px; 
    padding:10px; 
    /* min-width:44px;  */
    width: 56px;
    height: 56px;
    border: 1px solid #FBB337;
    border-radius:10px; 
}
.square{ 
    /* border-radius:8px;  */
}
.rounded{ 
    border-radius:12px; 
}
.white{ 
    background-color: white; 
    color:#FBB337; 
    border: 1px solid #FBB337;
}
.orange{ 
    background-color: #FBB337; 
    color:white;
    /* border-color:var(--yellow-600);  */
}
.disabled{ opacity:0.5; cursor:not-allowed; }
.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.frontIcon{
    height: 24px;
    width: 24px;
    margin-right: 8px;
}