/* 공통 박스 */
.box{
  background: #F4F4F4;                 /* 일반 배경 */
  border: 1px solid #C7C6C9;           /* 일반 보더 */
  border-radius: 10px;
  position: relative;
}
.normal{ border-color: #C7C6C9; }
.focus{ border-color: var(--accent, #FBB337); }


/* ===== input ===== */
.inputWrap{ display: grid; gap: 6px; width: 365px; }
.input{
  width: 100%; height: 57px;
  background: transparent; border: none; outline: none;
  padding: 0 12px; padding-right: 64px;
  color: #000; 
  /* font-weight: 700; */
  caret-color: black; /* 일반 커서 */
}

/* 에러 상태일 때 커서 빨강 */
.inputErrorCaret{
  caret-color: #FC0004;
}

.counterInside{
  position: absolute; right: 10px; top: 50%;
  transform: translateY(-50%);
  font-size: 12px; color: #000; 
  /* font-weight: 700; */
}

/* ===== textarea ===== */
.textareaWrap{ 
  display: grid; 
  gap: 6px; 
  width: 322px; 
}
.textareaBox{ height: 256px; }
.textarea{
  width: 100%; 
  height: 256px;
  background-color: white;
  outline: none;
  resize: none;
  padding: 10px 12px;
  color: #000; 
  border: 1px solid #A0A0A0;
  border-radius: 14px;
  caret-color: black; /* 일반 커서 */
}
.counterOutside{
  margin-left: auto;
  font-size: 16px; color: #747474; 
}

/* 에러 메시지 */
.errMsg{ font-size: 12px; color: #FC0004; }  /* 오류 메세지 빨강 */


/* 오류 디자인 */
.error{
  background: #FFEEEE;                 /* 오류 배경 */
  border-color: #FC0004;               /* 오류 보더 */
}