/* :root{
  --accent: #FBB337;
  --bg-dim: #1F1F1FE5;
  --black: #111;
  --gray-200: #E2E1E4;
  --gray-300: #C7C6C9;
  --white: hsl(0, 0%, 100%);
} */

/* 풀스크린 오버레이 */
.backdrop{
  position: fixed;
  inset: 0;
  z-index: 4000;                 /* 충분히 높게 */
  background: var(--bg-dim);
  display: grid;
  place-items: center;
  padding: 0;
  background-color: white;
}

/* 모바일 기준 가득(폭 390px로 중앙 정렬) */
.panel{
  width: min(390px, 100vw);
  height: 100dvh;
  background: var(--white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 12px;
  padding: 20px 16px calc(env(safe-area-inset-bottom, 0px) + 16px);
  /* box-shadow: 0 12px 24px rgba(0,0,0,.18); */
}

/* 헤더 */
.header{ 
  padding-top: 60px; 

}
.title{
  /* margin: 0 0 4px 0; */
  font-size: 28px; font-weight: 800; color: var(--black);
}
.sub{
  margin: 0;
  color: #555; font-size: 13px; font-weight: 400;
  margin-top: 4px;
  margin-bottom: 40px;
}

/* 본문 */
.body{
  display: grid;
  align-content: start;
  gap: 10px;
}
.inputWrap{
  position: relative;
}
.input{
  width: 100%; height: 57px;
  background: #F4F4F4;
  border: 1px solid var(--gray-300);
  border-radius: 12px;
  padding: 0 14px; padding-right: 70px;
  outline: none;
  font-weight: 700; color: var(--black);
  caret-color: var(--accent);
}
.input:focus{
  border-color: var(--accent);
}
.counter{
  position: absolute;
  right: 10px; top: 50%;
  transform: translateY(-50%);
  font-size: 12px; font-weight: 700; color: var(--black);
}

/* 풋터 */
.footer{
  position: fixed; bottom: 20px; background: #fff; padding: 12px 0; width: 362px;
}
.btnGhost{
  border: 1px solid var(--gray-200);
  background: #fff; color: var(--black);
  font-weight: 700; border-radius: 10px; padding: 12px 16px;
}
.btnPrimary{
  border: none;
  background-color: #FBB337; color: #fff;
  font-weight: 800; border-radius: 10px; padding: 12px 16px;
}
.btnPrimary:disabled{
  opacity: .5; pointer-events: none;
  background-color: gray;
}
/* 닉네임 모달용(예시) */
.close{
  position:absolute; right:12px; top:12px;
  width:32px; height:32px; border:none; background:transparent;
  font-size:18px; cursor:pointer;
}
