.wrap{ 
    display:flex; 
    align-items:center; 
    gap:10px; 
    padding: 10px 0;
}
.track{ 
    flex:1; 
    height:10px; 
    background-color:var(--gray-200); 
    border-radius:999px; 
    overflow:hidden; 
}
.bar{ 
    height:100%; 
    background:linear-gradient(90deg, #FFDD00, #FBB337); 
    border-top-right-radius:20px; 
    border-bottom-right-radius: 20px;
}
.meta{ 
    font-size:12px;
    color:var(--gray-600); 
    min-width:48px; 
    text-align:right; 
}
