.backdrop {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 45%);
  display: grid;
  place-items: center; /* 중앙 위치 (요청이 바닥 시트가 아님) */
  z-index: 1000;
}

.modal {
  width: 362px;
  min-height: 458px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}

.header {
  position: relative;
  padding: 20px;
  /* border-bottom: 1px solid #eee; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* text-align: start; */
}

.title {
  font-size: 23px;
  font-weight: 800;
}

.closeX {
  border: none;
  background: none;
  font-size: 26px;
  line-height: 1;
  cursor: pointer;
}

.body {
  padding: 12px 20px;
  overflow: hidden;            /* 내부 InputComponent가 자체 스크롤 관리 */
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.footer {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px; */
  display: flex;
  /* flex-direction: row; */
  padding: 5px 20px 28px;
  justify-content: space-between;
  /* border-top: 1px solid #eee; */
}

.cancel {
  border: 1px solid #FBB337;
  background: #fff;
  border-radius: 10px;
  padding: 10px 12px;
  font-weight: 600;
  width: 100px;
  color: #FBB337;
}

.submit {
  border: none;
  background: #FBB337;
  color: #fff;
  border-radius: 10px;
  padding: 10px 12px;
  font-weight: 800;
  width: 210px;
}

.submit:disabled {
  opacity: .5;
  cursor: not-allowed;
}
